#main-menu {
  font-family: "Lato", sans-serif;
  background-color: #fff !important;
  padding: 0;
}
#main-menu li.nav-item {
  padding: 16px;
  border-bottom: 2px solid #fff;
}
#main-menu li.nav-item:hover {
  background-color: #eee;
  border-bottom: 2px solid #CA3C32;
}
#main-menu li.nav-item.donate:hover {
  background-color: #fff;
  border-bottom: 0;
}
#main-menu li.nav-item.active {
  border-bottom: 2px solid #CA3C32;
}

#main-hero {
  padding: 3rem 2rem;
}

.hero {
  background-image: url('../img/hero.png');
  background-repeat: repeat-x;
  background-size: cover; /*auto 100%;*/
  background-position: center;
}

.hero a.link {
  color: #ccc;
}

.page-heading .main-heading {
  color: #efefef;
}

.main-heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
.secondary-heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 5px;
}

.page-heading a {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.glance-features {
  text-align: center;
  color: #53777A;
}
.glance-features hr {
  background-color: #53777A;
}

.feature h4 {
  text-align: left;
  padding-bottom: 5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #53777A;
  font-size: 18px;
}
.feature p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: left;
  text-justify: inter-character;
}

div.user {
  padding-bottom: 5px;
  padding-top: 5px;
}

.user h4 {
  text-align: left;
  padding-bottom: 3px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #53777A;
  font-size: 18px;
}
.user p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: left;
  text-justify: inter-character;
}

.btn {
  font-family: "Lato", sans-serif;
}

.btn-success {
  color: #53777A;
  background-color: #ECD078;
  border-color: #efefef;
  border-width: 2px;
}

.btn-success:hover {
  color: #53777A;
  background-color: #ECD078;
  border-color: #efefef;
  border-width: 2px;
}

.btn-primary {
  filter: brightness(90%);
  background-color: #C02942;
  border-color: #C02942;
}

.btn-primary:hover {
  filter: brightness(100%);
  background-color: #C02942;
  border-color: #C02942;
}

.alt-color {
  background-color: #F4F4F4;
}

a {
  color: #D95B43;
}

.link {
  color: #D95B43;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.user img {
  max-width: 100%;
  padding-bottom: 10px;
}

.connect {
  text-align: center;
  color: #53777A;
}
.connect hr {
  background-color: #53777A;
}


.social {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 60px;
  background-size: 50px;
  border-bottom: 1px solid #ccc;
}
.social h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.social.discourse {
  background-image: url("../img/discourse.png");
  margin-top: 14px;
  border-bottom: 0;
}
.social.twitter {
  background-image: url("../img/twitter.png");
  margin-top: 14px;
  border-bottom: 0;
}
.social.github {
  background-image: url("../img/github.png");
  margin-top: 14px;
  border-bottom: 0;
}


.links {
  background-color: #542437;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.links h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.links ul.nav li a {
  padding: 3px 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #fff;
}

.links-item {
  margin-top: 30px;
}

.footer-copy {
  background-color: #242729;
  color: #eee;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 10px 0;
}
.footer-copy p {
  padding: 0;
  margin: 0;
}



#scenarios-tab {
  border: 0;
  width: 100%;
}
#scenarios-tab .nav-item a {
  padding: 18px 0;
  border: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}
#scenarios-tab .nav-item a.active {
  border-top: 4px solid #D95B43;
  color: #D95B43;
}
#scenarios-tab .nav-item a {
  color: #898989;
}
#scenarios-tab-content div.tab-pane {
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 300px;
  margin-bottom: 20px;
}

#scenarios-tab-content div.tab-pane {
  padding: 10px;
  padding-top: 20px;
}

#scenarios-tab-content div.tab-pane h4 {
  color: #D95B43;
}
#scenarios-tab-content div.tab-pane h6 {
  color: #D95B43;
  font-weight: 600;
}

img.scenarios-image {
  float: left;
  margin-right: 20px;
}

#scenarios-tab-content div.tab-pane div.code-sample p {
  font-size: 14px;
}



.goal h4 {
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #53777A;
  font-size: 18px;
}
.goal p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: left;
  text-justify: inter-character;
}

.goal-heading {
  text-align: center;
  color: #53777A;
}
.goal-heading hr {
  background-color: #53777A;
}