<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h2 style="text-align:left">Branding</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>
      If you're looking to use Bokeh branding to promote your work of any nature, please follow the guidelines below. We really appreciate your help.
    </p>
  </div>
</div>

<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h3>Official Logo</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>
      Click on the desired description (with an underline) to download the specific file. If you want all files, click on the following button.
    </p>
    <div>
      <a class="btn btn-primary" href="https://static.bokeh.org/branding/bokeh-branding-2021.zip" download>Download Branding Set</a>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="logo-wrapper">
  <div class="logos">
    <div class="logo-thumb">
      <img src="https://static.bokeh.org/branding/logos/bokeh-logo.png">
    </div>
    <br />
    <p class="code-highlight" style="width:90%">
      <code>
        Use this against white (or light) backgrounds.
      </code>
    </p>

    <table style="width:90%;">
      <tr>
        <th>Primary Logotype</th>
        <th>.png</th> 
        <th>.jpg</th> 
        <th>.svg</th> 
      </tr>
      <tr>
        <td style="color:#909090;">Size: @1x 490 × 141px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo.jpg" download>For print</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo.svg" download>Vector</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @2x 979 × 280px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo@2x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo@2x.jpg" download>For print</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @3x 1468 × 421px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo@3x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo@3x.jpg" download>For print</a></td>
      </tr>
    </table>
  </div>

  <div class="logos">
    <div class="logo-thumb">
      <img class="dark" src="https://static.bokeh.org/branding/logos/bokeh-logo-inv.png">
    </div>
    <br />
    <p class="code-highlight" style="width:90%">
      <code>
        Use this against dark backgrounds.
      </code>
    </p>

    <table style="width:90%;">
      <tr>
        <th>Logotype white text</th>
        <th>.png</th> 
        <th>.jpg</th> 
        <th>.svg</th> 
      </tr>
      <tr>
        <td style="color:#909090;">Size: @1x 490 × 141px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv.jpg" download>For print</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv.svg" download>Vector</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @2x 979 × 280px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv@2x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv@2x.jpg" download>For print</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @3x 1468 × 421px</td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv@3x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/logos/bokeh-logo-inv@3x.jpg" download>For print</a></td>
      </tr>
    </table>
  </div>

  <div class="logos">
    <div class="logo-thumb icon">
      <img src="https://static.bokeh.org/branding/icons/bokeh-icon.jpg">
    </div>
    <br />
    <p class="code-highlight" style="width:90%">
      <code>
        Use this only as graphic detail, never as a stand alone logo.
      </code>
    </p>

    <table style="width:90%;">
      <tr>
        <th>Bokeh icon</th>
        <th>.png</th> 
        <th>.jpg</th> 
        <th>.svg</th> 
      </tr>
      <tr>
        <td style="color:#909090;">Size: @1x 72 x 72px</td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon.jpg" download>For print</a></td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon.svg" download>Vector</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @2x 144 × 144px</td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon@2x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon@2x.jpg" download>For print</a></td>
      </tr>
      <tr>
        <td style="color:#909090;">Size: @5x 350 × 350px</td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon@5x.png" download>For web</a></td>
        <td><a href="https://static.bokeh.org/branding/icons/bokeh-icon@5x.jpg" download>For print</a></td>
      </tr>
    </table>
  </div>
</div>

<br />
<br />
<hr>
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h3>Logo usage</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>
      When using the logo, please use the following directives:
      <br />
      <br />

      <ul>
        <li><strong>DO</strong> make the logo large enough: at least 1 inch (2.54 cm) for print at least and 72 px for web</li>
        <li><strong>DO</strong> leave enough margin around the logo - at least around triple the width of the bar in the ”k” character;</li>
        <li>Do <strong>NOT</strong> apply transparency to the logotype;</li>
        <li>Do <strong>NOT</strong> change the logo proportion by distorting it;</li>
        <li>Do <strong>NOT</strong> place text or other elements over the logo.</li>
      </ul>
    </p>
  </div>
</div>

<br />
<hr>
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h3>Colors</h3>
  </div>
</div>

<br />

<table style="width:100%; border-spacing:20px;">
  <tr>
    <th style="width:60px"></th>
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #F9AA1A;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #F05123;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #ED1557;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #8B288C;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #4698D3;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #19ACAF;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #2AB356;"></th> 
    <th style="height:100px; width:100px; border-right: 5px solid white; background-color: #A6CE39;"></th> 
  </tr>
  <tr>
    <td style="color:#909090; text-align:right">hex</td>
    <td>#F9AA1A</td> 
    <td>#F05123</td>
    <td>#ED1557</td>
    <td>#8B288C</td> 
    <td>#4698D3</td>
    <td>#19ACAF</td>
    <td>#2AB356</td> 
    <td>#A6CE39</td>
  </tr>
  <tr>
    <td style="color:#909090; text-align:right">RGB</td>
    <td>249,170,26</td> 
    <td>240,81,35</td> 
    <td>237,21,87</td> 
    <td>139,40,140</td> 
    <td>70,152,211</td> 
    <td>25,172,175</td> 
    <td>42,179,86</td> 
    <td>166,206,57</td> 
  </tr>
  <tr>
    <td style="color:#909090; text-align:right">CMYK</td>
    <td>0,37,100,0</td> 
    <td>0,84,100,0</td> 
    <td>0,100,54,0</td> 
    <td>54,100,3,0</td> 
    <td>68,29,0,0</td> 
    <td>77,9,34,0</td> 
    <td>78,0,93,0</td> 
    <td>40,0,100,0</td> 
  </tr>
</table>

<br />
<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h2 style="text-align:left">Templates</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>
      Feel free to use our slide decks templates for Google Presentation. Click on the link to open it and create a copy for your own usage. 
    </p>
    <div>
      <a class="btn btn-primary" href="https://docs.google.com/presentation/d/1XZC39yg37qcvcQHfEz_UF2_EKbwF3tz6hzHdBzU_Wqc/edit#slide=id.g9427045889_0_2" target="_blank">Open Presentation Template</a>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-6">
    <h2 style="text-align:left">Citation</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>
      If you find Bokeh useful in your work, a citation is always appreciated.
      <br />
      <br />
      To cite Bokeh in publications, use:
      <br />
      <p class="code-highlight">
        <code>
          Bokeh Development Team ({{ site.time | date: '%Y' }}). Bokeh: Python library for interactive visualization
          <br />
          URL https://bokeh.org
        </code>
      </p>
      <br />
      <p>
        A <a href="http://www.bibtex.org">BibTeX</a> entry for <a href="https://www.latex-project.org">LaTeX</a> users is:
      </p>

      <p class="code-highlight">
        <code>
        @Manual{,<br />
        title = {Bokeh: Python library for interactive visualization},{% raw %}<br />
        author = {{Bokeh Development Team}},<br />
        year = {{% endraw %}{{ site.time | date: '%Y' }}{% raw %}}{% endraw %},<br />
        url = {https://bokeh.org/},<br />
        }</pre>
        </code>
      </p>
      <br />
      Bokeh is <a href="https://github.com/bokeh/bokeh/blob/master/LICENSE.txt">BSD licensed</a>, so you are free to use it whatever you like, be it academic, commercial, creating forks or derivatives, as long as you copy the BSD statement if you redistribute it (see the License for details). Although not required by the Bokeh license, if it is convenient for you, please consider citing Bokeh when using it in your work and also consider contributing any changes back, so that they may be incorporated for the benefit of the entire Bokeh community.
    </p>
  </div>
</div>
<br />