<div class="row section-heading">
  <div class="col-lg-4 col-md-3"><hr/></div>
  <div class="col-lg-4 col-md-6">
    <h2>Asking for Help</h2>
  </div>
  <div class="col-lg-4 col-md-3"><hr/></div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
      <p>Our support channels and team interaction are open to all levels of users, even and especially those new to using Bokeh! Support is provided on a volunteer basis by our core team of maintainers, as well as by interested members of our user community. For the best outcome, we offer the following guidelines when posting a request for support:</p>
      <p>For usage questions, we primarily encourage visiting the <a href="https://discourse.bokeh.org/">Bokeh Discourse</a>. This forum is monitored by members of the core team, includes Showcase examples of projects using Bokeh for inspiration, and is a great way to get feedback from other users on how to approach a problem.</p>
      <p>Questions involving pandas or other libraries may find a wider audience by posting on <a href="https://stackoverflow.com/questions/tagged/bokeh">Stack Overflow</a>, using the tag <b>bokeh.</b></p>
      <p>We appreciate if you do not cross post questions on <i>both</i> Stack Overflow and Discourse. However, if you do, please include a link to the other topic.</p>
      <p>If you think you've found a bug, or would like to request a feature, the appropriate place is the <a href="https://github.com/bokeh/bokeh/issues">GitHub issue tracker.</a> Core team members will review and either offer an explanation or workaround, or confirm the issue and add to the backlog of planned development to fix.</p>
      <p>Do not contact team members privately for support. In order to provide benefit for the entire community, all questions are answered only on public, archived, searchable forums.</p>
      <p>It's best to post a new question on support forums, even if you think it may be redundant. The speed of Bokeh development means that the answer or best practice for your situation may have changed.</p>
      <p>Creating a <a href="https://stackoverflow.com/help/minimal-reproducible-example">minimal reproducing example</a> of issues is the best way to get a meaningful answer specific to your question. Code examples should be runnable as-is, without dependencies on data sources or other files that someone reviewing the issue cannot access.</p>
    </div>
  </div>

<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-3"><hr/></div>
  <div class="col-lg-4 col-md-6">
    <h2>Contributing</h2>
  </div>
  <div class="col-lg-4 col-md-3"><hr/></div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
      <p>If you're an experienced Bokeh user who wants to give back, a great place to start is supporting your fellow users on the <a href="https://discourse.bokeh.org/">Bokeh Discourse</a>. Questions of all levels are posted daily, and you may find that there are some for which your experience is very valuable!</p>
      <p>Similarly, the Documentation is a great way to start as a Bokeh contributor. The docs are a living, changing body of work, improving all the time, and contributing here will also help you get accustomed to Bokeh's review and release process.</p>
      <p>Bokeh users (and maintainers!) appreciate seeing examples of Bokeh at work. If your organization has a project using Bokeh that you're willing to share, consider adding it to our <a href="https://discourse.bokeh.org/c/showcase/13">Showcase</a>! These projects serve as inspiration and examples to other users, and give meaningful insight to maintainers as to how people are using the library, which drives future development priorities.</p>
      <p>For development on the Bokeh library itself, there is a <a href="https://slack-invite.bokeh.org/">Bokeh Developer Slack</a>. The dev channels here are helpful when getting feedback on development ideas or insight into planned directions for future development. <b>For usage questions, please use the Discourse instead of Slack.</b></p>
      <p>If you're interested in working on bugfixes or feature development in Bokeh, take a look at our <a href="https://github.com/bokeh/bokeh/issues">GitHub issue tracker</a> to see what we could use help on. The issue tracker includes a <a href="https://github.com/bokeh/bokeh/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22">"Good First Issue" label</a> to identify entry points for someone new to developing for the project.</p>
      <p>A weekly developer meeting happens every Wednesday at 10:00 US Central Time. Notes from previous meetings can be found <a href="https://github.com/bokeh/pm/blob/master/minutes/Weekly%20Sync.md">on GitHub.</a></p>
      <p>Finally, as an open source project, Bokeh is funded by donations from both individuals and organizations who recognize the importance of the project to their work. <a href="https://numfocus.org/donate-to-bokeh">Financial contributions</a to support Bokeh's infrastructure and special development projects are greatly appreciated!</p>

    </div>
  </div>
<br />
