<div class="row section-heading">
  <div class="col-lg-4 col-md-3"><hr/></div>
  <div class="col-lg-4 col-md-6">
    <h2>Discussion</h2>
  </div>
  <div class="col-lg-4 col-md-3"><hr/></div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <p>For usage questions, we primarily encourage visiting the <a href="https://discourse.bokeh.org/">Bokeh Discourse</a>. This forum is monitored by members of the core team, includes Showcase examples of projects using Bokeh for inspiration, and is a great way to get feedback from other users on how to approach a problem.</p>
    <p><a href="https://stackoverflow.com/questions/tagged/bokeh">Stack Overflow</a> is also often a good resource for usage questions, using the tag <b>bokeh.</b></p>
    <p>For feature requests, issue reports, and records of development decisions, visit the <a href="https://github.com/bokeh/bokeh/issues">GitHub issue tracker.</a></p>
    <p>For development on the Bokeh library itself, there is a <a href="https://slack-invite.bokeh.org/">Bokeh Developer Slack</a>. The dev channels here are helpful when getting feedback on development ideas or insight into planned directions for future development. <b>For usage questions, please use the Discourse instead of Slack.</b></p>
    <p>A weekly developer meeting happens every Wednesday at 10:00 US Central Time. Notes from previous meetings can be found <a href="https://github.com/bokeh/pm/blob/master/minutes/Weekly%20Sync.md">on GitHub.</a></p>
  </div>
</div>

<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-3"><hr/></div>
  <div class="col-lg-4 col-md-6">
    <h2>Asking for Help</h2>
  </div>
  <div class="col-lg-4 col-md-3"><hr/></div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
      <p>Our support channels and team interaction are open to all levels of users, even and especially those new to using Bokeh! Support is provided on a volunteer basis by our core team of maintainers, as well as by interested members of our user community. For the best outcome, we offer the following guidelines when posting a request for support:</p>
      <p>We highly suggest using the <a href="https://discourse.bokeh.org/">Bokeh Discourse</a> for prompt answers to Bokeh-specific questions, but questions involving pandas or other libraries may find a wider audience on <a href="https://stackoverflow.com/questions/tagged/bokeh">Stack Overflow</a>.</p>
      <p>We appreciate if you do not cross post questions on <i>both</i> Stack Overflow and Discourse. However, if you do, please include a link to the other topic.</p>
      <p>If you feel that the issue you're seeing is something that is actually broken or an oversight in Bokeh, the appropriate place to report this is the <a href="https://github.com/bokeh/bokeh/issues">GitHub issue tracker.</a>. Core team members will review and either offer an explanation or workaround, or confirm the issue and add to the backlog of planned development to fix.</p>
      <p>When looking for help on a specific issue, posting publicly on the Discourse or Stack Overflow is the best way to get a quick answer, and also to help others quickly find resources in the future. Team members cannot answer direct, individual requests for support; please use the public forums for the benefit of all.</p>
      <p>When reviewing a topic on the support forums, be mindful of the date; rather than resurrecting old threads, it's usually best to post a new question, even if you think it may be redundant. The speed of Bokeh development means that the answer or best practice for your situation may have changed.</p>
      <p>Creating a minimal reproducing example of issues is the best way to get a meaningful answer specific to your question. <a href="https://stackoverflow.com/help/minimal-reproducible-example">Stack Overflow</a> maintains guidelines about how to do this. Code examples should be runnable as-is, without dependencies on data sources or other files that someone reviewing the issue cannot access.</p>
    </div>
  </div>

<br />
<br />

<div class="row section-heading">
  <div class="col-lg-4 col-md-3"><hr/></div>
  <div class="col-lg-4 col-md-6">
    <h2>Contributing</h2>
  </div>
  <div class="col-lg-4 col-md-3"><hr/></div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
      <p>If you're an experienced Bokeh user who wants to give back, a great place to start is supporting your fellow users on the <a href="https://discourse.bokeh.org/">Bokeh Discourse</a>. Questions of all levels are posted daily, and you may find that there are some for which your experience is very valuable!</p>
      <p>Similarly, the Documentation is a great way to start as a Bokeh contributor. The docs are a living, changing body of work, improving all the time, and contributing here will also help you get accustomed to Bokeh's review and release process.</p>
      <p>Bokeh users (and maintainers!) appreciate seeing examples of Bokeh at work. If your organization has a project using Bokeh that you're willing to share, consider adding it to our <a href="https://discourse.bokeh.org/c/showcase/13">Showcase</a>! These projects serve as inspiration and examples to other users, and give meaningful insight to maintainers as to how people are using the library, which drives future development priorities.</p>
      <p>If you're a developer interested in working on bugfixes or feature development in Bokeh, take a look at our <a href="https://github.com/bokeh/bokeh/issues">GitHub issue tracker</a> to see what we could use help on. The issue tracker includes a <a href="https://github.com/bokeh/bokeh/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22">"good first issue" label</a> to identify entry points for someone new to developing for the project.</p>
      <p>Finally, as an open source project, Bokeh is funded by donations from both individuals and organizations who recognize the importance of the project to their work. <a href="https://numfocus.org/donate-to-bokeh">Financial contributions</a to support Bokeh's infrastructure and special development projects are greatly appreciated!</p>




    </div>
  </div>


<br />
