<!-- contact -->
<div class="container-fluid alt-color">
  <br />

  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-4 col-md-3"><hr/></div>
      <div class="col-lg-4 col-md-6">
        <h2>Where to Connect</h2>
      </div>
      <div class="col-lg-4 col-md-3"><hr/></div>
    </div>

    <br />

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="social discourse">
          <h4>Discourse</h4>
          <p>
            Join <a href="https://discourse.bokeh.org/">community discussions</a>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="social twitter">
          <h4>Twitter</h4>
          <p>
            Tweet things to <a href="//twitter.com/BokehPlots">@BokehPlots</a>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="social github">
          <h4>Github</h4>
          <p>
            See <a href="https://github.com/bokeh/bokeh">source code</a> and  <a href="https://github.com/bokeh/bokeh/issues">issues</a>
          </p>
        </div>
      </div>
    </div>

  </div>

  <br />
</div>
<!-- end contact -->