<footer class="container-fluid footer-copy">
  <div class="container">
    <div class="row">
      <div class="col-md-10 py-2">
        <p>
            Bokeh is a fiscally sponsored project of <a href="//numfocus.org">NumFOCUS</a>, a nonprofit dedicated to supporting the open-source scientific computing community.
            Donations help pay for cloud hosting costs, travel, and other project needs.
        </p>
        <p>
          ©{{ site.time | date: '%Y' }} Bokeh contributors.
          The website content uses the <a href="https://github.com/bokeh/bokeh.org/blob/master/LICENSE.txt">BSD License</a>.
        </p>
      </div>
      <br />
      <div class="col-md-2 py-2">
        <a class="btn btn-primary" href="//numfocus.salsalabs.org/donate-to-bokeh/index.html">Donate</a>
      </div>
    </div>
  </div>
</footer>