<p>
We are grateful to our sponsors, whose generous support helps ensure the sustainability of the Bokeh project.
</p>

<table align="center">
<tr>
  <td>
    <a href="https://www.numfocus.org/">
    <img src="https://static.bokeh.org/sponsor/numfocus.svg"
       alt="NumFocus Logo" width="350"/>
    </a>
  </td>
  <td>
    <a href="https://www.blackstone.com/the-firm/">
    <img src="https://static.bokeh.org/sponsor/blackstone.png"
       alt="BlackStone Logo" width="350"/>
    </a>
  </td>
</tr>
</table>
<table align="center">
<tr>
  <td>
    <a href="https://www.anaconda.com/">
    <img src="https://static.bokeh.org/sponsor/anaconda.png"
       alt="Anaconda Logo" width="200"/>
    </a>
  </td>
  <td>
    <a href="https://www.nvidia.com">
    <img src="https://static.bokeh.org/sponsor/nvidia.png"
       alt="NVidia Logo" width="200"/>
    </a>
  </td>
  <td>
    <a href="https://developer.nvidia.com/rapids">
    <img src="https://static.bokeh.org/sponsor/rapids.png"
       alt="Rapids Logo" width="200"/>
    </a>
  </td>
</tr>
</table>

<table align="center">
<tr>
  <td>
    <a href="https://www.quansight.com">
    <img src="https://static.bokeh.org/sponsor/quansight.png"
       alt="Quansight Logo" width="100"/>
    </a>
  </td>
  <td>
    <a href="https://www.rexhomes.com/">
    <img src="https://static.bokeh.org/sponsor/rex.jpg"
       alt="Rex Logo" width="100"/>
    </a>
  </td>
  <td>
    <a href="https://nomnomdata.com/">
    <img src="https://files.nomitall.nomnomdata.com/images/logo-small.svg"
       alt="Nom Nom Data Logo" width="100"/>
    </a>
  </td>
</tr>
</table>

<br >

<p>
    If your company uses Bokeh and is able to sponsor the project, please contact
    <a href="info@bokeh.org">info@bokeh.org</a>. If you are a user who appreciates Bokeh and wants to support
    our mission, please consider <a href="https://numfocus.org/donate-to-bokeh">making a donation</a> to
    assist our efforts.
</p>

<p>
    Bokeh was initially developed with funding from the <a href="//www.darpa.mil/program/xdata">DARPA XDATA Program</a>,
    and subsequently with support from <a href="//anaconda.com/">Anaconda, Inc</a>. 
</p>

<p>
    Today, Bokeh is a Sponsored Project of NumFOCUS, a 501(c)(3) nonprofit charity in the United States. NumFOCUS
    provides Bokeh with fiscal, legal, and administrative support to help ensure the health and sustainability of
    the project. Visit <a href="https://numfocus.org/">numfocus.org</a> for more information.
</p>

<p>
    Donations to Bokeh are managed by NumFOCUS. For donors in the United States, your gift is tax-deductible to
    the extent provided by law. As with any donation, you should consult with your tax adviser about your particular
    tax situation.
</p>
