<p>
We are grateful to our sponsors, whose generous support helps ensure the sustainability of the Bokeh project.
</p>

<table align="center">
<tr>
  <td>
    <a href="https://www.numfocus.org/">
    <img src="https://static.bokeh.org/sponsor/numfocus.svg"
       alt="NumFocus Logo" width="200"/>
    </a>
  </td>
  <td>
    <a href="https://www.anaconda.com/">
    <img src="https://static.bokeh.org/sponsor/anaconda.png"
       alt="Anaconda Logo" width="200"/>
    </a>
  </td>
  <td>
    <a href="https://www.nvidia.com">
    <img src="https://static.bokeh.org/sponsor/nvidia.png"
       alt="NVidia Logo" width="200"/>
    </a>
  </td>
  <td>
    <a href="https://developer.nvidia.com/rapids">
    <img src="https://static.bokeh.org/sponsor/rapids.png"
       alt="Rapids Logo" width="200"/>
    </a>
  </td>
</tr>
</table>

<table align="center">
<tr>
  <td>
    <a href="https://www.quansight.com">
    <img src="https://static.bokeh.org/sponsor/quansight.png"
       alt="Quansight Logo" width="100"/>
    </a>
  </td>
  <td>
    <a href="https://www.rexhomes.com/">
    <img src="https://static.bokeh.org/sponsor/rex.jpg"
       alt="Rex Logo" width="100"/>
    </a>
  </td>
</tr>
</table>

<br >

<p>
    If your company uses Bokeh and is able to sponsor the project, please contact
    <a href="info@bokeh.org">info@bokeh.org</a>. If you are a user who appreciates Bokeh and want to support our
    mission, please consider <a href="//numfocus.salsalabs.org/donate-to-bokeh/index.html">making a donation</a> to
    support our efforts.
</p>

<p>
    Bokeh was initially developed with funding from the <a href="//www.darpa.mil/program/xdata">DARPA XDATA Program</a>,
    and subsequently with support from <a href="//anaconda.com/">Anaconda, Inc</a>. Bokeh is now a fiscally sponsored
    project of <a href="//numfocus.org/">NumFOCUS</a>, a nonprofit dedicated to supporting the open source scientific
    computing community.
</p>
