<p>
    The current <a href="//github.com/bokeh/bokeh/wiki/BEP-4:-Project-Roles#core-team">Core Team</a> comprises:
</p>

<ul>
    <li><a href="//github.com/birdsarah">Sarah Bird</a></li>
    <li><a href="//github.com/canavandl">Luke Canavan</a></li>
    <li><a href="//github.com/pavithraes">Pavithra Eswaramoorthy</a></li>
    <li><a href="//github.com/hyles-lineata">Carolyn Hulsey</a></li>
    <li><a href="//github.com/mattpap">Mateusz Paprocki</a></li>
    <li><a href="//github.com/philippjfr">Philipp Rudiger</a></li>
    <li><a href="//github.com/bryevdv">Bryan Van de Ven</a></li>
</ul>

<p>
    The full list of contributors is on our <a href="//github.com/bokeh/bokeh/graphs/contributors">GitHub Contributors Page</a>.
</p>
